.blog-title{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;;
}

.descripsi{
    text-align: center;
    margin-top: 15px;
    font-family: sans-serif;
    margin-bottom: 90px;
}